body nav {
    color: #FAFAFA;
    margin: 0;
}

nav div.header {
    padding: 5px;
    color: #F5F5F5;
    left: 10px;
    right: 5px;
    top: 10px;
}

nav div.header h3 {
    color: #212121;
    padding: 10px;
}

nav div.button {
    color: #F5F5F5;
    left: 10px;
    padding: 5px;
    right: 5px;
}