body nav {
    color: #FAFAFA;
    margin: 0;
}

nav ul.header {
    list-style: none;
    margin: 0;
    padding: 5px;
    color: #F5F5F5;
    display: block;
}

nav ul.header h3 {
    margin: 0;
    color: #212121;
}

ul::after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.header > li.window {
    float: left;
    position: relative;
}

ul.header > li.window > a.window {
    display: block;
    padding: 10px;
    color: #212121;
    text-decoration: none;
}

ul.window-menu {
    display: none;
    position: absolute;
    padding: 5px;
    left: 0;
    border: #212121;
    background-color: #F5F5F5;
}

ul.window-menu > li {
    display: block;
    float: left;
}

ul.window-menu > a {
    display: block;
    color: #212121;
    text-decoration: none;
}

ul.window-menu > a:hover{
    text-decoration: underline;
}

ul.header > li:hover > ul.window-menu {
    display: block;
}

li.list {
    padding: 10px;
    float: left;
}

li.menu {
    float: left;
    margin-right: 100px;
}

ul.header > li.list > a {
    display: compact;
    padding: 10px;
    color: #212121;
    text-decoration: none;
}
