.my_cabinet
    &-header
        color: #1c2931
        font-family: Arial
        font-size: 12px
        font-weight: 700
        margin-bottom: 61px
        margin-top: 18px
    &-slider
        padding-top: 84px
        width: 814px
        margin: auto
        display: flex
        flex-wrap: wrap 
        justify-content: space-between
    &-items
        display: flex
        justify-content: space-between
        &_item
            margin-top: 0
            height: 359px
            &-title
                margin-top: 25px
                border-left: 2px solid #1c2931
                padding-left: 10px
                color: #1c2931
                font-size: 16px
                font-weight: 700
                font-family: Helvetica
                font-weight: 700
            &-lists
                margin-top: 28px
                display: flex
                flex-wrap: wrap 
                justify-content: space-between
            &-list
                padding-inline-start: 15px
                color: #1c2931
                font-family: Arial
                font-size: 13px
                font-weight: 400
            &-price
                width: 127px
                margin-top: 25px
                background-color: #1c2931
                color: #ffffff
                font-size: 14px
                font-weight: 700
                font-family: Helvetica
                font-weight: 700
                padding: 10px 35px 5px 37px
.pills
    &-item
        width: 1000px
        margin: auto
        margin-top: 47px
        &:first-child
            margin-top: 0
        &__header
            display: flex
            justify-content: space-between
            margin: auto
            &-name
                margin-right: auto
                color: #1c2931
                font-family: "Open Sans"
                font-size: 19px
                font-weight: 700
            &-price
                margin-right: auto
                color: #1c2931
                font-family: "Open Sans"
                font-size: 19px
                font-weight: 700
        &__car
            width: 1000px
            margin: auto
            margin-top: 15px
            display: flex
            &-remont
                width: 350px
                color: #1c2931
                font-family: Arial
                font-size: 14px
                font-weight: 400
                line-height: 20px
            &-description
                margin-left: 30px
                margin-right: auto
            &-header
                opacity: 0.8
                color: #3e4950
                font-family: Arial
                font-size: 13px
                font-weight: 400
            &-data
                width: 350px
                display: flex
                justify-content: space-between
                margin-top: 15px
            &-text    
                color: #1c2931
                font-family: Arial
                font-size: 14px
                font-weight: 400
        &__icons
            display: flex
            width: 450px
            align-items: flex-end
            margin-top: 10px
            justify-content: space-between
            &-text
                color: #656d73
                font-family: Arial
                font-size: 13px
                font-weight: 400
                line-height: 16px
                margin-left: 10px
            &-notebook
                display: flex
                justify-content: space-between