<footer class="pt-4 mt-5 md-5 border-top navbar-dark bg-dark">
    <div class="row">
        <ul class="col-6 col-md-2 ml-5">
            <h3 class="text-light">motor</h3>
            <a class="d-block text-light">vpmr.md</a>
        </ul>
        <div class="col-4 col-md-2 mt-3">
            <a class="text-muted" href="#">Разместить рекламу</a>
        </div>
        <div class="col-4 col-md-2 mt-3">
            <a class="text-muted" href="#">Сотрудничество с нами</a>
        </div>
        <div class="col-4 col-md-2 mt-3">
            <a class="text-muted" href="#">Разместить объявление</a>
        </div>
        <div class="col-4 col-md-2 mt-3">
            <a class="text-muted" href="#">Помощь</a>
        </div>
    </div>
</footer>