{% extends "motor/base.html" %}

{% block title %} <title>Motor</title> {% endblock %}

{% block content %}
<section class="top">
    <div class="container">
       <div class="top-block">
          <div class="top-block__text-title">
             КАКОЙ ТО ТЕКСТ
          </div>
          <div class="top-block__text-subtitle">
             О ТОМ КАК ЛЕГКО ВЫБРАТЬ АВТОМОБИЛЬ
          </div>
          <div class="top-block__text-text">
             у нас самый крутой сайт по выбору автомобилей, есть всякие новости и другая лабуда
          </div>
       </div>
       <div class="top-rectangle"></div>
       <div class="top-table">
          <div class="top-table__items">
             <div class="top-table__items-item">
                <div class="top-table__form">
                   <select class="top-table__form-select" id="cars" name="cars">
                        <option value="models_honda" selected>Honda</option>
                        <option value="models_infinity">Infinity</option>
                   </select>
                </div>
                <div class="top-table__double">
                   <div class="top-table__form">
                      <select class="top-table__form-year" id="year_begin" name="year_begin">
                        <option value="753" selected>Год, от</option>
                      </select>
                   </div>
                   <div class="top-table__form">
                      <select class="top-table__form-year" id="year_end" name="year_end">
                            <option value="753" selected>Год, до</option>
                      </select>
                   </div>
                </div>
             </div>
             <div class="top-table__items-item">
                <div class="top-table__form">
                   <select class="top-table__form-select" id="model" name="model">
                        <option value="Модель" selected>Модель</option>
                   </select>
                </div>
                <div class="top-table__double">
                   <input type="text" name="Цена, от" class="top-table__double-input" placeholder="Цена, от">
                   <input type="text" name="Цена, до" class="top-table__double-input" placeholder="Цена, до">
                </div>
             </div>
             <div class="top-table__items-item">
                <div class="top-table__form">
                   <select class="top-table__form-select" id="gear" name="gear" style="margin-bottom: 15px;">
                        <option value="Тип двигателя" selected>Тип двигателя</option>
                   </select>
                </div>
                <div class="top-table__form">
                   <select class="top-table__form-select" id="kuzov" name="kuzov">
                      <option value="Тип кузова" selected>Тип кузова</option>
                   </select>
                </div>
             </div>
             <div class="top-table__items-item">
                <button class="top-button" type="submit" style="margin-bottom: 16px;">Показать 10254 автомобилей</button>
                <button class="top-button" type="button" style="background-color: red;">Сбросить</button>
             </div>
          </div>
          <div class="top-table__serias" id="luz" name="luz">
          </div>
          <div class="top-table__options">
            <div class="top-table__options-option" style="margin-top: 120px">
                <div class="top-table__option-seria" style="font-weight: bold">Всего серий:</div>
                <div class="top-table__option-number" id="summ" name="summ" style="font-weight: bold">0</div>
            </div>
          </div>
       </div>
    </div>
 </section>

<section class="products">
    <div class="container">
        <div class="products-slider">
            <div class="products-item">
                <div class="product-link no_click after_click"><a class="products-link">VIP предложения</a></div>
            </div>
            <div class="products-item" data-wow-delay="0.1s">
                <div class="product-link no_click"><a class="products-link">Недавно добавленные автомобили</a></div>
            </div>
            <div class="products-item" data-wow-delay="0.2s">
                <div class="product-link no_click"><a class="products-link">Проверенные авто</a></div>
            </div>
            <div class="products-item" data-wow-delay="0.3s">
                <div class="product-link no_click"><a class="products-link">Сниженная цена</a></div>
            </div>
        </div>
        <div class="products-items">
            <div class="products-items_item">
                {% load static %}
                <img src="{% static "img/main/mazda.png" %}" alt="mazda" style="width: 265px">
                <div class="products-items_item-title">BMW 5 серия 523, E39</div>
                <div class="products-items_item-lists">
                    <ul class="products-items_item-list">
                        <li>200 000 км</li>
                        <li>2007 г.</li>
                        <li>Бензин, 2,8 л</li>
                    </ul>
                    <ul class="products-items_item-list">
                        <li>Механика</li>
                        <li>170 л.с.</li>
                        <li>Цвет: чёрный</li>
                    </ul>
                </div>
                <div class="products-items_item-price">$ 31 900</div>
            </div>
            <div class="products-items_item">
                {% load static %}
                <img src="{% static "img/main/mazda1.png" %}" alt="mazda1" style="width: 265px">
                <div class="products-items_item-title">BMW 5 серия 523, E39</div>
                <div class="products-items_item-lists">
                    <ul class="products-items_item-list">
                        <li>200 000 км</li>
                        <li>2007 г.</li>
                        <li>Бензин, 2,8 л</li>
                    </ul>
                    <ul class="products-items_item-list">
                        <li>Механика</li>
                        <li>170 л.с.</li>
                        <li>Цвет: чёрный</li>
                    </ul>
                </div>
                <div class="products-items_item-price">$ 31 900</div>
            </div>
            <div class="products-items_item">
                {% load static %}
                <img src="{% static "img/main/mazda2.png" %}" alt="mazda2" style="width: 265px">
                <div class="products-items_item-title">BMW 5 серия 523, E39</div>
                <div class="products-items_item-lists">
                    <ul class="products-items_item-list">
                        <li>200 000 км</li>
                        <li>2007 г.</li>
                        <li>Бензин, 2,8 л</li>
                    </ul>
                    <ul class="products-items_item-list">
                        <li>Механика</li>
                        <li>170 л.с.</li>
                        <li>Цвет: чёрный</li>
                    </ul>
                </div>
                <div class="products-items_item-price">$ 31 900</div>
            </div>
            <div class="products-items_item">
                {% load static %}
                <img src="{% static "img/main/mazda3.png" %}" alt="mazda3" style="width: 265px">
                <div class="products-items_item-title">BMW 5 серия 523, E39</div>
                <div class="products-items_item-lists">
                    <ul class="products-items_item-list">
                        <li>200 000 км</li>
                        <li>2007 г.</li>
                        <li>Бензин, 2,8 л</li>
                    </ul>
                    <ul class="products-items_item-list">
                        <li>Механика</li>
                        <li>170 л.с.</li>
                        <li>Цвет: чёрный</li>
                    </ul>
                </div>
                <div class="products-items_item-price">$ 31 900</div>
            </div>
        </div>
    </div>
</section>

<section class="news">
    <div class="container">
        <div class="news-title">Новостная лента</div>
        <div class="news-table">
            <div class="news-table__column">
                {% load static %}
                <img src="{% static "img/main/news1.png" %}" alt="news1">
                <div class="news-table__column-date">9 января</div>
                <div class="news-table__column-title">С 1 января 2018 года вступают в силу новые<br>
                    «Правила дорожного движения»</div>
                <div class="news-table__column-text">Что ждет автомобилистов в наступившем 2018 году? Нововведений довольно много и все они направлены на улучшение ситуации на дорогах, но не все приятно порадуют водителей. В этой статье перечислим основные изменения в ПДД с 1 января 2018 года</div>
            </div>
            <div class="news-table__lists">
                <div class="news-table__lists-items">
                    {% load static %}
                    <img src="{% static "img/main/news_1.png" %}" alt="news_1">
                    <div class="news-table__lists-item">
                        <div class="news-table__lists-date">9 января</div>
                        <div class="news-table__lists-title">В период непогоды в столице и в её пригородах произошло 4 ДТП</div>
                    </div>
                </div>
                <div class="news-table__lists-items">
                    {% load static %}
                    <img src="{% static "img/main/news_2.png" %}" alt="news_2">
                    <div class="news-table__lists-item">
                        <div class="news-table__lists-date">6 января</div>
                        <div class="news-table__lists-title">Новые ДТП за сегодняшний день</div>
                    </div>
                </div>
                <div class="news-table__lists-items">
                    {% load static %}
                    <img src="{% static "img/main/news_3.png" %}" alt="news_3">
                    <div class="news-table__lists-item">
                        <div class="news-table__lists-date">4 января</div>
                        <div class="news-table__lists-title">К середине дня на дорогах республики произошло 9 ДТП и еще одна строка</div>
                    </div>
                </div>
                <div class="news-table__lists-items">
                    {% load static %}
                    <img src="{% static "img/main/news_4.png" %}" alt="news_4">
                    <div class="news-table__lists-item">
                        <div class="news-table__lists-date">3 января</div>
                        <div class="news-table__lists-title">В период непогоды в столице и в её пригородах произошло 4 ДТП</div>
                    </div>
                </div>
                <div class="news-table__lists-items">
                    {% load static %}
                    <img src="{% static "img/main/news_5.png" %}" alt="news_5">
                    <div class="news-table__lists-item">
                        <div class="news-table__lists-date">1 января</div>
                        <div class="news-table__lists-title">Новые ДТП за сегодняшний день</div>
                    </div>
                </div>
            </div>
            <div class="news-table__adv">
                <div class="news-table__adv-item1">
                    Высококвалифицированный<br>
                    ремонт АКПП<br>
                    Полная и частичная замена масла<br>
                    Промывка рулевой рейки<br>
                    И многое другое
                </div>
                <div class="news-table__adv-item2">
                    <div class="news-table__adv-item2_double">
                        <div class="news-table__adv-item2_double1">ШИНО</div>
                        <div class="news-table__adv-item2_double2">МОНТАЖ</div>
                    </div>
                    <div class="news-table__adv-item2_phone">Тел: (533) 45 8 74, 94 8 54</div>
                </div>
                <div class="news-table__adv-item3">
                    Высококвалифицированный<br>
                    ремонт АКПП<br>
                    Полная и частичная замена масла<br>
                    Промывка рулевой рейки<br>
                    И многое другое 
                </div>
            </div>
        </div>
        <div class="news-button">Читать все новости</div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</script>
<script type="text/javascript">
window.onload = selectCar;
cars.onchange = selectCar;
model.onchange = selectYear;

function selectCar(ev){
    model.innerHTML = "";
    var models_cars = {{ models_cars|safe }};
    var c = this.value || "models_honda", o;
    for(let i = 0; i < models_cars[c].length; i++){
        o = new Option(models_cars[c][i],i,false,false);
        model.add(o);
    };
}

function selectYear(ev){
    year_begin.innerHTML = "";
    year_end.innerHTML = "";
    gear.innerHTML = "";
    kuzov.innerHTML = "";

    var all_models_begin = {{ all_models_begin|safe }};
    var all_models_end = {{ all_models_end|safe }};
    var gears = {{ gears|safe }};
    var kuzovs = {{ kuzov|safe }};
    var series_sum = {{ model_series_sum|safe }};
    var k = this.value, l, n, p, t, g, z;

    begin = Object.values(all_models_begin)[k];
    end = Object.values(all_models_end)[k];
    for(let i = 0; i < begin.length; i++){
        g = new Option(begin[i],k,false,false);
        year_begin.add(g);
    };
    for(let i = 0; i < end.length; i++){
        z = new Option(end[i],k,false,false);
        year_end.add(z);
    };
    for(let i = 0; i < Object.values(gears)[k].length; i++){
        obj = Object.values(gears)[k];
        p = new Option(obj[i],i,false,false);
        gear.add(p);
    };
    for(let i = 0; i < Object.values(kuzovs)[k].length; i++){
        obj = Object.values(kuzovs)[k];
        t = new Option(obj[i],i,false,false);
        kuzov.add(t);
    };
    var values = Object.values(series_sum)[k];
    var keys = Object.keys(series_sum)[k];
    for(let i = 0; i < Object.keys(values).length; i++){
        key = Object.keys(values)[i];
        value = Object.values(values)[i];

        let div0 = document.createElement('div');
        div0.className = "seria";
        div0.setAttribute('id', 'seria');
        luz.append(div0);

        let div1 = document.createElement('div');
        div1.className = "seria_name";
        div1.innerHTML = key;
        seria = document.querySelectorAll(".seria")[i];
        seria.append(div1);

        let div2 = document.createElement('div');
        div2.className = "number";
        div2.innerHTML = value;
        seria = document.querySelectorAll(".seria")[i];
        seria.append(div2);
    };
    var summ = parseInt('0');
    for (let i = 0; i < Object.values(values).length; i++){
        summ += Object.values(values)[i];
    };
    document.getElementById("summ").innerHTML = summ;
}
</script>
{% endblock %}