<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="col-6 col-md-2">
        <h3 class="text-muted ">motor</h3>
        <a class="d-block mb-3 text-muted">vpmr.md</a>
    </div>
    <div class="collapse navbar-collapse" id="n<vbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-uppercase" href="#">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" href="#">Выбрать авто</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-uppercase " href="https://example.com" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Автосервис</a>
                <div class="dropdown-menu" aria-labelledby="dropdown07">
                    <a class="dropdown-item " href="#">Сервис</a>
                    <a class="dropdown-item" href="#">Автомойка</a>
                    <a class="dropdown-item" href="#">Автозапчасти</a>
                    <a class="dropdown-item" href="#">Шины</a>
                    <a class="dropdown-item" href="#">Аксессуары</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" href="#">Новости</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-uppercase" href="https://example.com" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">О нас</a>
                <div class="dropdown-menu" aria-labelledby="dropdown07">
                    <a class="dropdown-item" href="#">О проекте</a>
                    <a class="dropdown-item" href="#">Помощь по сайту (FAQ)</a>
                    <a class="dropdown-item" href="#">Разместить рекламу</a>
                    <a class="dropdown-item" href="#">Сотрудничество с нами</a>
                    <a class="dropdown-item" href="#">Обратная связь</a>
                </div>
            </li>


        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
</nav>