{% extends "motor/base.html" %}

{% block title %} <title>Motor</title> {% endblock %}

{% block content %}

<section class="add_auto">
    <div class="container">
        <div class="add_auto-header">Главная | Подать объявление</div>
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <div class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Добавить автомобиль</div>
                        <div class="nav-link__text">Выберите марку и модель вашего автомобиля</div>
                    </div>
                    <div class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Выбрать сведения</div>
                        <div class="nav-link__text">Выбрать технические характеристики автомобиля</div>
                    </div>
                    <div class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Комплектация</div>
                        <div class="nav-link__text">Выберите опции входящие в комплектацию автомобиля</div>
                    </div>
                    <div class="nav-link" id="v-pills-person-tab" data-toggle="pill" href="#v-pills-person" role="tab" aria-controls="v-pills-person" aria-selected="false">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Контактная информация</div>
                        <div class="nav-link__text">Добавьте сведения о себе</div>
                    </div>
                    <div class="nav-link" id="v-pills-public-tab" data-toggle="pill" href="#v-pills-public" role="tab" aria-controls="v-pills-public" aria-selected="false">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Опубликовать</div>
                        <div class="nav-link__text">Завершить оформление объявления и разместить на сайте</div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="nav-link__title" style="border-left: 3px solid; padding-left: 15px">ПОДАЧА ОБЪЯВЛЕНИЯ О ПРОДАЖЕ АВТОМОБИЛЯ</div>
                        <div class="nav-link__subtitle">Для заполнения потребуется около 5 минут</div>
                        <div class="nav-link__question">{{ car }}/{{ seria }}/{{ year }}/{{ kuzov }}</div>
                        <div class="nav-link__question" style="margin-bottom: 20px">Выберите тип кузова</div>
                        <div class="row">
                            {% for kuzov in all_kuzov %}
                            <div class="col-md-4 mb-2" style="display: flex; margin-right: 120px; width: 300px; padding-right: 0">
                                {% load static %}
                                <a class="col-md-3 mb-2">
                                    <img class="image_kuzov" src="/static/img/auto/{{ kuzov }}.png" alt="{{ kuzov }}">
                                </a> 
                                <div class="nav-link__kuzov">{{ kuzov }}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="nav-link__choose" id="choose">
                            <div class="nav-link__question" style="margin-bottom: 20px">Поколение</div>
                            {% for generation in generations %}
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">{{ car }} | {{ seria }} | {{ kuzov }} | {{ generation }} <br>
                            {% endfor %}
                        </div>
                        <div class="nav-link__checkbox">
                            <div class="nav-link__choose" id="choose">
                                <div class="nav-link__question" style="margin-bottom: 15px">Коробка</div>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Автомат<br>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Механика<br>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Вариатор<br>
                            </div>
                            <div class="nav-link__choose" id="choose">
                                <div class="nav-link__question" style="margin-bottom: 15px">Привод</div>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Задний<br>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Полный<br>
                            </div>
                            <div class="nav-link__choose" id="choose">
                                <div class="nav-link__question" style="margin-bottom: 15px">Двигатель</div>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Бензин<br>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Дизель<br>
                            </div>
                            <div class="nav-link__choose" id="choose">
                                <div class="nav-link__question" style="margin-bottom: 15px">Модификация</div>
                                {% for modification in modifications %}
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">{{ modification }}<br>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="button" class="nav-link__button">СОХРАНИТЬ И ПРОДОЛЖИТЬ</button>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="nav-link__title" style="border-left: 3px solid; padding-left: 15px">ДОБАВЬТЕ ФОТО И ЦВЕТ АВТОМОБИЛЯ</div>
                        <div class="nav-link__subtitle">Объявления с фото увеличивают шансы продажи автомобиля</div>
                        <div class="nav-link__question">Выберите наиболее близкий цвет автомобиля</div>
                        <div class="row">
                            <div class="custom-radio-button" style="margin-top: 25px; margin-left: 15px">
                                <div>
                                    <input type="radio" id="color-green" name="color" value="color-green">
                                    <label for="color-green"><span style="background-color: green; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-grey" name="color" value="color-grey">
                                    <label for="color-grey"><span style="background-color: grey; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-aqua" name="color" value="color-aqua">
                                    <label for="color-aqua"><span style="background-color: aqua; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-pink" name="color" value="color-pink">
                                    <label for="color-pink"><span style="background-color: pink; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-red" name="color" value="color-red" checked>
                                    <label for="color-red"><span style="background-color: red; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-blue" name="color" value="color-blue">
                                    <label for="color-blue"><span style="background-color: blue; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-orange" name="color" value="color-orange">
                                    <label for="color-orange"><span style="background-color: orange; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-yellow" name="color" value="color-yellow">
                                    <label for="color-yellow"><span style="background-color: yellow; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-coral" name="color" value="color-coral">
                                    <label for="color-primary"><span style="background-color: coral; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-info" name="color" value="color-info">
                                    <label for="color-info"><span style="background-color: darkgoldenrod; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-gray-darkcyan" name="color" value="color-gray-dark">
                                    <label for="color-gray-darkcyan"><span style="background-color: darkcyan; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-indigo" name="color" value="color-indigo">
                                    <label for="color-indigo"><span style="background-color: indigo; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-purple" name="color" value="color-purple">
                                    <label for="color-purple"><span style="background-color: purple; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-secondary" name="color" value="color-secondary">
                                    <label for="color-secondary"><span style="background-color: sienna; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-success" name="color" value="color-success">
                                    <label for="color-success"><span style="background-color: darkblue; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                                <div>
                                    <input type="radio" id="color-black" name="color" value="color-black">
                                    <label for="color-black"><span style="background-color: black; background-repeat: no-repeat; background-position: center"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="nav-link__question">Для добавления фото, нажмите на "+", и выберите файлы на компьютере, или перетащите сюда</div>
                        <div class="nav-link__subtitle" style="margin-top: 15px">Вы можете добавить до 10 фотографий вашего автомобиля</div>
                        <input id="tudu" type="file" style="margin-top: 20px" multiple>
                        <div id="zir" style="justify-content: space-between; width: 400px; margin-top: 20px"></div>
                        <button type="button" class="nav-link__button">СОХРАНИТЬ И ПРОДОЛЖИТЬ</button>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="nav-link__title" style="border-left: 3px solid; padding-left: 15px; width: 600px">ВЫБЕРИТЕ ОПЦИИ, ВХОДЯЩИЕ В КОМПЛЕКТАЦИЮ АВТОМОБИЛЯ</div>
                        <div class="nav-link__subtitle" style="margin-top: 20px; margin-left: 20px">Опции автомобиля делают его стоимость выше в глазах покупателя</div>
                        <div class="nav-link__block">
                            <div class="nav-link__question" style="margin-left: 15px; margin-bottom: 15px">Мультимедиа</div>
                            <div class="nav-link__block-item">
                                <div class="col-md-4 mb-2">
                                    <div class="nav-link__subtitle" style="color: #656d73; font-size: 14px;">Аудиосистема</div>
                                    <div class="nav-item dropdown">
                                        <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" style="color: #656d73; font-family: Arial; font-size: 14px; width: 160px; height: 37px;
                                        font-weight: 400; padding-top: 7px; padding-right: 0; padding-bottom: 0; padding-left: 22px; border-radius: 2px; border: 1px solid grey;">Указать    <strong>v</strong></a>
                                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333" style="width: 100px; height: 300; font-family: Arial; font-size: 13px; font-weight: 400; line-height: 15px;">
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                        </div>
                                    </div>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px; margin-top: 20px"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">AUX</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Bluetooth</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">USB</span><br>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Голосовое управление</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Мультимедиа система</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Розетка 12V</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Штатная аудиоподготовка</span><br>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Штатная аудиосистема с TV</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Штатная навигационная система</span><br>
                                </div>
                            </div>
                            <div class="nav-link__question" style="margin-left: 15px; margin-top: 0; margin-bottom: 15px">Комфорт</div>
                            <div class="nav-link__block-item">
                                <div class="col-md-4 mb-2">
                                    <div class="nav-link__subtitle" style="color: #656d73; font-size: 14px;">Климат</div>
                                    <div class="nav-item dropdown" style="margin-bottom: 15px;">
                                        <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" style="color: #656d73; font-family: Arial; font-size: 14px; width: 160px; height: 37px;
                                        font-weight: 400; padding-top: 7px; padding-right: 0; padding-bottom: 0; padding-left: 22px; border-radius: 2px; border: 1px solid grey;">Указать    <strong>v</strong></a>
                                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333" style="width: 100px; height: 300; font-family: Arial; font-size: 13px; font-weight: 400; line-height: 15px;">
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                        </div>
                                    </div>
                                    <div class="nav-link__subtitle" style="color: #656d73; font-size: 14px;">Сиденье водителя</div>
                                    <div class="nav-item dropdown" style="margin-bottom: 15px;">
                                        <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" style="color: #656d73; font-family: Arial; font-size: 14px; width: 160px; height: 37px;
                                        font-weight: 400; padding-top: 7px; padding-right: 0; padding-bottom: 0; padding-left: 22px; border-radius: 2px; border: 1px solid grey;">Указать    <strong>v</strong></a>
                                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333" style="width: 100px; height: 300; font-family: Arial; font-size: 13px; font-weight: 400; line-height: 15px;">
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                        </div>
                                    </div>
                                    <div class="nav-link__subtitle" style="color: #656d73; font-size: 14px;">Сиденье пассажира</div>
                                    <div class="nav-item dropdown" style="margin-bottom: 15px;">
                                        <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" style="color: #656d73; font-family: Arial; font-size: 14px; width: 160px; height: 37px;
                                        font-weight: 400; padding-top: 7px; padding-right: 0; padding-bottom: 0; padding-left: 22px; border-radius: 2px; border: 1px solid grey;">Указать    <strong>v</strong></a>
                                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333" style="width: 100px; height: 300; font-family: Arial; font-size: 13px; font-weight: 400; line-height: 15px;">
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                        </div>
                                    </div>
                                    <div class="nav-link__subtitle" style="color: #656d73; font-size: 14px;">Регуреловка руля</div>
                                    <div class="nav-item dropdown" style="margin-bottom: 15px;">
                                        <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" style="color: #656d73; font-family: Arial; font-size: 14px; width: 160px; height: 37px;
                                        font-weight: 400; padding-top: 7px; padding-right: 0; padding-bottom: 0; padding-left: 22px; border-radius: 2px; border: 1px solid grey;">Указать    <strong>v</strong></a>
                                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333" style="width: 100px; height: 300; font-family: Arial; font-size: 13px; font-weight: 400; line-height: 15px;">
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                        </div>
                                    </div>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Адаптивный круиз-контроль</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Активный усилитель руля</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Бортовой компьютер</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Датчик давления в шинах</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Запуск двигателя</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Запуск двигателя с кнопки</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Камера 360 град.</span><br>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Камера заднего вида</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Круиз-контроль</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Обогрев сидений</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Охлаждаемый перчаточный ящик</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Парктроник задний</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Парктроник передний</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Прикуриватель и пепельница</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Программируемый отопитель</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Регулировка сидений водителя по высоте</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Регулировка сидений пассажира</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Регулируемый педальный узел</span><br>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Система автоматической парковки</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Система доступа без ключа</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Система "старт-стоп"</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Солнцезащитная шторка на стекле</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Солнцезащитная шторка в задних дверях</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Тонированные стёкла</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Усилитель руля</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Электропривод крышки багажника</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Электрорегулировка руля</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Электростеклоподъёмники</span><br>
                                </div>
                            </div>
                            <div class="nav-link__question" style="margin-left: 15px; margin-top: 0; margin-bottom: 15px">Безопасность</div>
                            <div class="nav-link__block-item">
                                <div class="col-md-4 mb-2">
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">ABS</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">ESP</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Isofix / LATCH</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Антипробуксовочная система</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Блокировка замков задних дверей</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Датчик усталости водителя</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Ламинированные боковые стекла</span><br>                                </div>
                                <div class="col-md-4 mb-2">
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Парктроник</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Подушка безопасности водителя</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Подушка безопасноти коленей</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Подушка безопасности пассажира</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Подушки безопасности боковые</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Подушки безопасноти задние </span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Подушки безопасноти оконные</span><br>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Система контроля за движением</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Система контроля слепых зон</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Система ночного видения</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Система помощи при старте в гору</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Система предотвращения столкновений</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Система распознавания знаков</span><br>
                                </div>
                            </div>
                            <div class="nav-link__question" style="margin-left: 15px; margin-top: 0; margin-bottom: 15px">Мультимедиа</div>
                            <div class="nav-link__block-item">
                                <div class="col-md-4 mb-2">
                                    <div class="nav-item dropdown" style="margin-bottom: 15px;">
                                        <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" style="color: #656d73; font-family: Arial; font-size: 14px; width: 160px; height: 37px;
                                        font-weight: 400; padding-top: 7px; padding-right: 0; padding-bottom: 0; padding-left: 22px; border-radius: 2px; border: 1px solid grey;">Указать    <strong>v</strong></a>
                                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333" style="width: 100px; height: 300; font-family: Arial; font-size: 13px; font-weight: 400; line-height: 15px;">
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                            <a class="dropdown-item" href="#">Указать</a>
                                        </div>
                                    </div>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">AUX</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Bluetooth</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">USB</span><br>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Голосовое управление</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Мультимедиа система</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Розетка 12В</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Штатная аудиоподготовка</span><br>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Штатная аудиосистема с ТВ</span><br>
                                    <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Штатная навигационная система</span><br>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="nav-link__button">СОХРАНИТЬ И ПРОДОЛЖИТЬ</button>
                    </div>
                    <div class="tab-pane fade" id="v-pills-person" role="tabpanel" aria-labelledby="v-pills-person-tab">
                        <div class="nav-link__title" style="border-left: 3px solid; padding-left: 15px; width: 600px">ВЫБЕРИТЕ ОПЦИИ, ВХОДЯЩИЕ В КОМПЛЕКТАЦИЮ АВТОМОБИЛЯ</div>
                        <div class="row">
                            <div class="col-md-4 mb-2">
                                <div class="nav-link__question" style="margin-bottom: 15px">Когда был куплен автомобиль?</div>
                                <div class="nav-link__dropdowns" style="display: flex; width: 280px; justify-content: space-between;">
                                    <div class="nav-item dropdown">
                                        <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" style="color: #656d73; font-family: Arial; font-size: 14px; width: 135px; height: 37px;
                                        font-weight: 400; padding-top: 7px; padding-right: 0; padding-bottom: 0; padding-left: 22px; border-radius: 4px; border: 1px solid grey;">Год    <strong>v</strong></a>
                                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333" style="width: 100px; height: 300; font-family: Arial; font-size: 13px; font-weight: 400; line-height: 15px;">
                                            <a class="dropdown-item" href="#">Год</a>
                                            <a class="dropdown-item" href="#">Год</a>
                                            <a class="dropdown-item" href="#">Год</a>
                                            <a class="dropdown-item" href="#">Год</a>
                                            <a class="dropdown-item" href="#">Год</a>
                                        </div>
                                    </div>
                                    <div class="nav-item dropdown">
                                        <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" style="color: #656d73; font-family: Arial; font-size: 14px; width: 135px; height: 37px;
                                        font-weight: 400; padding-top: 7px; padding-right: 0; padding-bottom: 0; padding-left: 22px; border-radius: 4px; border: 1px solid grey;">Месяц    <strong>v</strong></a>
                                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333" style="width: 100px; height: 300; font-family: Arial; font-size: 13px; font-weight: 400; line-height: 15px;">
                                            <a class="dropdown-item" href="#">Месяц</a>
                                            <a class="dropdown-item" href="#">Месяц</a>
                                            <a class="dropdown-item" href="#">Месяц</a>
                                            <a class="dropdown-item" href="#">Месяц</a>
                                            <a class="dropdown-item" href="#">Месяц</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-link__question" style="margin-bottom: 15px">Какой Вы владелец?</div>
                                <div class="nav-item dropdown">
                                    <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" style="color: #656d73; font-family: Arial; font-size: 14px; width: 280px; height: 37px;
                                    font-weight: 400; padding-top: 7px; padding-right: 0; padding-bottom: 0; padding-left: 22px; border-radius: 2px; border: 1px solid grey;">Указать    <strong>v</strong></a>
                                    <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333" style="width: 100px; height: 300; font-family: Arial; font-size: 13px; font-weight: 400; line-height: 15px;">
                                        <a class="dropdown-item" href="#">Указать</a>
                                        <a class="dropdown-item" href="#">Указать</a>
                                        <a class="dropdown-item" href="#">Указать</a>
                                        <a class="dropdown-item" href="#">Указать</a>
                                        <a class="dropdown-item" href="#">Указать</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="nav-link__question" style="margin-bottom: 15px">Пробег автомобиля</div>
                                <div class="form-group has-search">
                                    <input type="text" class="form-control" placeholder="Укажите пробег в километрах">
                                    <span class="fa fa-search form-control-feedback"></span>
                                </div>
                                <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">AUX</span><br>
                                <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Bluetooth</span><br>
                                <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">USB</span><br>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="nav-link__question" style="margin-bottom: 15px">Цена продажи</div>
                                <div class="form-group has-search">
                                    <input type="text" class="form-control" placeholder="Укажите сумму в долларах США">
                                    <span class="fa fa-search form-control-feedback"></span>
                                </div>
                                <input type="radio" name="name" value="value" class='choose' style="margin-bottom: 20px;"><span style="color: #3e4950; font-size: 12px; margin-left: 15px;">Возможен обмен</span><br>
                            </div>
                        </div>
                        <div class="nav-link__question" style="margin-bottom: 15px">Дополнительное описание*</div>
                        <div class="form-group has-search">
                            <input type="text" class="form-control" style="width: 900px; height: 170px;">
                            <span class="fa fa-search form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-public" role="tabpanel" aria-labelledby="v-pills-public-tab">
                        <div class="nav-link__title" style="border-left: 3px solid; padding-left: 15px; width: 600px">ЗАВЕРШИТЬ ОФОРМЛЕНИЕ АВТОМОБИЛЯ И РАЗМЕСТИТЬ НА САЙТЕ</div>
                        <div class="row">
                            <div class="col-md-4 mb-2">
                                <div class="nav-link__question" style="margin-bottom: 15px">Ваше имя</div>
                                <div class="form-group has-search">
                                    <input type="text" class="form-control" placeholder="Укажите своё имя">
                                    <span class="fa fa-search form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="nav-link__question" style="margin-bottom: 15px">Телефон для связи</div>
                                <div class="form-group has-search">
                                    <input type="text" class="form-control" placeholder="Укажите свой телефон">
                                    <span class="fa fa-search form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="nav-link__question" style="margin-bottom: 15px">E-mail</div>
                                <div class="form-group has-search">
                                    <input type="text" class="form-control" placeholder="Укажите mail">
                                    <span class="fa fa-search form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="nav-link__question" style="margin-bottom: 15px; margin-top: 0">Город продажи</div>
                                <div class="form-group has-search">
                                    <input type="text" class="form-control" placeholder="Славянск">
                                    <span class="fa fa-search form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                        <div class="nav-link__users">
                            <div class="nav-link__users-text">Нажимая на кнопку «Опубликовать объявление», вы принимаете условия <a href="#">Пользовательского соглашения</a></div>
                            <button type="button" class="nav-link__button" style="position: relative; margin-top: 0;">ОПУБЛИКОВАТЬ ОБЪЯВЛЕНИЕ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</script>
<script>
$('.image_kuzov').click(function(){
  $(".nav-link__choose").fadeToggle(100);
});  
</script>