{% extends "motor/base.html" %}

{% block title %} <title>Motor</title> {% endblock %}

{% block content %}

<section class="add_auto">
    <div class="container">
        <div class="add_auto-header">Главная | Подать объявление</div>
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <div class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Добавить автомобиль</div>
                        <div class="nav-link__text">Выберите марку и модель вашего автомобиля</div>
                    </div>
                    <div class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Выбрать сведения</div>
                        <div class="nav-link__text">Выбрать технические характеристики автомобиля</div>
                    </div>
                    <div class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Фото</div>
                        <div class="nav-link__text">Добавьте фото автомобиля</div>
                    </div>
                    <div class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Контактная информация</div>
                        <div class="nav-link__text">Добавьте сведения о себе</div>
                    </div>
                    <div class="nav-link" id="v-pills-person-tab" data-toggle="pill" href="#v-pills-person" role="tab" aria-controls="v-pills-person" aria-selected="false">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Опубликовать</div>
                        <div class="nav-link__text">Завершить оформление объявления и разместить на сайте</div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="nav-link__title" style="border-left: 3px solid; padding-left: 15px">ПОДАЧА ОБЪЯВЛЕНИЯ О ПРОДАЖЕ АВТОМОБИЛЯ</div>
                        <div class="nav-link__subtitle">Для заполнения потребуется около 5 минут</div>
                        <div class="nav-link__question">{{ car }}/{{ seria }}/{{ year }}/{{ kuzov }}</div>
                        <div class="nav-link__question" style="margin-bottom: 20px">Выберите тип кузова</div>
                        <div class="row">
                            {% for kuzov in all_kuzov %}
                            <div class="col-md-4 mb-2" style="display: flex; margin-right: 120px; width: 300px; padding-right: 0">
                                {% load static %}
                                <a class="col-md-3 mb-2">
                                    <img class="image_kuzov" src="/static/img/auto/{{ kuzov }}.png" alt="{{ kuzov }}">
                                </a> 
                                <div class="nav-link__kuzov">{{ kuzov }}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="nav-link__choose" id="choose">
                            <div class="nav-link__question" style="margin-bottom: 20px">Поколение</div>
                            {% for generation in generations %}
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">{{ car }} | {{ seria }} | {{ kuzov }} | {{ generation }} <br>
                            {% endfor %}
                        </div>
                        <div class="nav-link__checkbox">
                            <div class="nav-link__choose" id="choose">
                                <div class="nav-link__question" style="margin-bottom: 15px">Коробка</div>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Автомат<br>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Механика<br>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Вариатор<br>
                            </div>
                            <div class="nav-link__choose" id="choose">
                                <div class="nav-link__question" style="margin-bottom: 15px">Привод</div>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Задний<br>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Полный<br>
                            </div>
                            <div class="nav-link__choose" id="choose">
                                <div class="nav-link__question" style="margin-bottom: 15px">Двигатель</div>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Бензин<br>
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">Дизель<br>
                            </div>
                            <div class="nav-link__choose" id="choose">
                                <div class="nav-link__question" style="margin-bottom: 15px">Модификация</div>
                                {% for modification in modifications %}
                                <input type="radio" name="name" value="value" class='choose' style="color: #3e4950; font-size: 14px; margin-right: 15px; margin-bottom: 10px">{{ modification }}<br>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="button" class="nav-link__button">СОХРАНИТЬ И ПРОДОЛЖИТЬ</button>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-person" role="tabpanel" aria-labelledby="v-pills-person-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-person" role="tabpanel" aria-labelledby="v-pills-person-tab">...</div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</script>
<script>
$('.image_kuzov').click(function(){
  $(".nav-link__choose").fadeToggle(100);
});  
</script>