{% extends "motor/base.html" %}

{% block title %} <title>Motor</title> {% endblock %}

{% block content %}

<section class="add_auto">
    <div class="container">
        <div class="add_auto-header">Главная | Подать объявление</div>
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <div class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Добавить автомобиль</div>
                        <div class="nav-link__text">Выберите марку и модель вашего автомобиля</div>
                    </div>
                    <div class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Выбрать сведения</div>
                        <div class="nav-link__text">Выбрать технические характеристики автомобиля</div>
                    </div>
                    <div class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Фото</div>
                        <div class="nav-link__text">Добавьте фото автомобиля</div>
                    </div>
                    <div class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Контактная информация</div>
                        <div class="nav-link__text">Добавьте сведения о себе</div>
                    </div>
                    <div class="nav-link" id="v-pills-person-tab" data-toggle="pill" href="#v-pills-person" role="tab" aria-controls="v-pills-person" aria-selected="false">
                        <div class="nav-link__header" style="border-left: 2px solid; padding-left: 15px">Опубликовать</div>
                        <div class="nav-link__text">Завершить оформление объявления и разместить на сайте</div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="nav-link__title" style="border-left: 3px solid; padding-left: 15px">ПОДАЧА ОБЪЯВЛЕНИЯ О ПРОДАЖЕ АВТОМОБИЛЯ</div>
                        <div class="nav-link__subtitle">Для заполнения потребуется около 5 минут</div>
                        <div class="nav-link__question">{{ car }}</div>
                        <div class="form-group has-search">
                            <input type="text" class="form-control" placeholder="Найти марку">
                            <span class="fa fa-search form-control-feedback"></span>
                        </div>
                        <div class="row">
                        {% for seria in models %}
                            <a class="col-md-4 mb-2" href="{% url 'add_seria' car seria %}">{{ seria }}</a> 
                        {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-person" role="tabpanel" aria-labelledby="v-pills-person-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-person" role="tabpanel" aria-labelledby="v-pills-person-tab">...</div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}