{% extends "motor/base.html" %}

{% block title %} <title>Motor</title> {% endblock %}

{% block content %}
<section class="auto_profile">
    <div class="container">
        <div class="auto_profile-header">Главная | {{ note.NameCar }} | {{ note.SeriaCar }} | {{ note.KuzovCar }} | {{ note.GenerationCar }}</div>
        <div class="row">
            <div class="col-9">
                <div class="auto_profile-block">
                    <div class="auto_profile-block__subblock">
                        <div class="auto_profile-title">{{ note.NameCar }} {{ note.SeriaCar }} {{ note.KuzovCar }} {{ note.GenerationCar }}</div>
                        <div class="auto_profile-subtitle">
                            <div class="auto_profile-subtitle__header" style="width: 240px">Добавлено : {{ note.Time }}</div>
                            <div class="auto_profile-subtitle__notebook">
                                {% load static %}
                                <img src="{% static "img/cabinet/glass.png" %}" style="width: 20px; height: 14px" alt="glass">
                                <div class="auto_profile-subtitle__text">285 (18 сегодня)</div>
                            </div>
                            <div class="auto_profile-subtitle__notebook" style="width: 120px">
                                {% load static %}
                                <img src="{% static "img/notebook/bloknot.png" %}" style="width: 13px; height: 14px" alt="notebook">
                                <div class="auto_profile-subtitle__text">В блокнот</div>
                            </div>
                            <div class="auto_profile-subtitle__notebook">
                                {% load static %}
                                <img src="{% static "img/notebook/compare.png" %}" style="width: 13px; height: 14px" alt="compare">
                                <div class="auto_profile-subtitle__text">В сравнение</div>
                            </div>
                        </div>
                    </div>
                    <div class="auto_profile-block__price">$ {{ note.PriceCar }}</div>
                </div>
                <div class="auto_profile-description">
                    <div class="carousel">
                        <ul class="slides">
                            ## здесь вставить цикл для картинок
                            <input type="radio" name="radio-buttons" id="img-1" checked />
                            <li class="slide-container">
                                <div class="slide-image">
                                    <img src="/media/{{ note.ImageCar }}">
                                </div>
                                <div class="carousel-controls">
                                    <label for="img-3" class="prev-slide">
                                        <span>&lsaquo;</span>
                                    </label>
                                    <label for="img-2" class="next-slide">
                                        <span>&rsaquo;</span>
                                    </label>
                                </div>
                            </li>
                            ## закрыть цикл
                            <div class="carousel-dots">
                                <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                                <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                                <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
                            </div>
                        </ul>
                    </div>
                    <div class="auto_profile-description__block">
                        <div class="auto_profile-description__subblock">
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Год выпуска</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Пробег</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Кузов</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Цвет</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Двигатель</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Коробка</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Привод</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Руль</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Состояние</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Владельцы</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">ПТС</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Владение</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Таможня</div>
                            <div class="auto_profile-description__item" style="font-size: 14px; font-weight: 700; line-height: 24px;">Обмен</div>
                        </div>
                        <div class="auto_profile-description__subblock">
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">{{ note.YearCar }}</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">{{ note.RunCar }} км</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">{{ note.KuzovCar }}</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">{{ note.ColorCar }}</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">{{ note.ModificationCar }}/{{ note.MotorCar }}</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">{{ note.GearCar }}</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">{{ note.DriveCar }}</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">Левый</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">Не требует ремонта</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">{{ note.OwnerCar }} владельца</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">Оригинал</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">2 года и 5 месяцев</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">Растаможен</div>
                            <div class="auto_profile-description__item" style="text-align: right; color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400; line-height: 24px;">Рассмотрю варианты</div>
                        </div>
                    </div>
                </div>
                <div class="auto_profile-check">
                    <div class="auto_profile-check__photo">
                        {% load static %}
                        <img src="{% static "img/tick.png" %}">
                    </div>
                    <div class="auto_profile-check__block">
                        <div class="auto_profile-check__head">Автомобиль прошёл проверку в нашем сервис-центре</div>
                        <div class="auto_profile-check__text">Дата проверки: 28 января 2019</div>
                    </div>
                    <button type="button" class="auto_profile-check__button">ПОСМОТРЕТЬ ОТЧЁТ</button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-4.5" style="margin-left: 20px">
                            <div class="auto_profile-rating__block">
                                <div class="auto_profile-rating__item" id="kuzov_star">
                                    <div class="auto_profile-rating__text">Целостность кузова</div>
                                    <fieldset class="rating one" style="margin-left: 50px">
                                        <input type="radio" id="star5" name="kuzov" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <input type="radio" id="star4half" name="kuzov" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" id="star4" name="kuzov" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3half" name="kuzov" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                        <input type="radio" id="star3" name="kuzov" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2half" name="kuzov" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <input type="radio" id="star2" name="kuzov" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" id="star1half" name="kuzov" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                        <input type="radio" id="star1" name="kuzov" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                        <input type="radio" id="starhalf" name="kuzov" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    </fieldset>
                                </div>
                                <div class="auto_profile-rating__count">{{ last_rating.kuzov_average }}/5</div>
                            </div>
                            <div class="auto_profile-rating__block">
                                <div class="auto_profile-rating__item" id="cover_star">
                                    <div class="auto_profile-rating__text">Лакокрасочное покрытие</div>
                                    <fieldset class="rating two" style="margin-left: 50px">
                                        <input type="radio" id="star5_2" name="cover" value="5" /><label class = "full" for="star5_2" title="Awesome - 5 stars"></label>
                                        <input type="radio" id="star4half_2" name="cover" value="4.5" /><label class="half" for="star4half_2" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" id="star4_2" name="cover" value="4" /><label class = "full" for="star4_2" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3half_2" name="cover" value="3.5" /><label class="half" for="star3half_2" title="Meh - 3.5 stars"></label>
                                        <input type="radio" id="star3_2" name="cover" value="3" /><label class = "full" for="star3_2" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2half_2" name="cover" value="2.5" /><label class="half" for="star2half_2" title="Kinda bad - 2.5 stars"></label>
                                        <input type="radio" id="star2_2" name="cover" value="2" /><label class = "full" for="star2_2" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" id="star1half_2" name="cover" value="1.5" /><label class="half" for="star1half_2" title="Meh - 1.5 stars"></label>
                                        <input type="radio" id="star1_2" name="cover" value="1" /><label class = "full" for="star1_2" title="Sucks big time - 1 star"></label>
                                        <input type="radio" id="starhalf_2" name="cover" value="0.5" /><label class="half" for="starhalf_2" title="Sucks big time - 0.5 stars"></label>
                                    </fieldset>
                                </div>
                                <div class="auto_profile-rating__count">{{ last_rating.cover_average }}/5</div>
                            </div>
                            <div class="auto_profile-rating__block">
                                <div class="auto_profile-rating__item" id="salon_star">
                                    <div class="auto_profile-rating__text">Салон и интерьер</div>
                                    <fieldset class="rating three">
                                        <input type="radio" id="star5_3" name="salon" value="5" /><label class = "full" for="star5_3" title="Awesome - 5 stars"></label>
                                        <input type="radio" id="star4half_3" name="salon" value="4.5" /><label class="half" for="star4half_3" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" id="star4_3" name="salon" value="4" /><label class = "full" for="star4_3" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3half_3" name="salon" value="3.5" /><label class="half" for="star3half_3" title="Meh - 3.5 stars"></label>
                                        <input type="radio" id="star3_3" name="salon" value="3" /><label class = "full" for="star3_3" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2half_3" name="salon" value="2.5" /><label class="half" for="star2half_3" title="Kinda bad - 2.5 stars"></label>
                                        <input type="radio" id="star2_3" name="salon" value="2" /><label class = "full" for="star2_3" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" id="star1half_3" name="salon" value="1.5" /><label class="half" for="star1half_3" title="Meh - 1.5 stars"></label>
                                        <input type="radio" id="star1_3" name="salon" value="1" /><label class = "full" for="star1_3" title="Sucks big time - 1 star"></label>
                                        <input type="radio" id="starhalf_3" name="salon" value="0.5" /><label class="half" for="starhalf_3" title="Sucks big time - 0.5 stars"></label>
                                    </fieldset>
                                </div>
                                <div class="auto_profile-rating__count">{{ last_rating.salon_average }}/5</div>
                            </div>
                            <div class="auto_profile-rating__block">
                                <div class="auto_profile-rating__item" id="exterer_star">
                                    <div class="auto_profile-rating__text">+1 пункт по экстерьеру</div>
                                    <fieldset class="rating four">
                                        <input type="radio" id="star5_4" name="exterer" value="5" /><label class = "full" for="star5_4" title="Awesome - 5 stars"></label>
                                        <input type="radio" id="star4half_4" name="exterer" value="4.5" /><label class="half" for="star4half_4" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" id="star4_4" name="exterer" value="4" /><label class = "full" for="star4_4" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3half_4" name="exterer" value="3.5" /><label class="half" for="star3half_4" title="Meh - 3.5 stars"></label>
                                        <input type="radio" id="star3_4" name="exterer" value="3" /><label class = "full" for="star3_4" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2half_4" name="exterer" value="2.5" /><label class="half" for="star2half_4" title="Kinda bad - 2.5 stars"></label>
                                        <input type="radio" id="star2_4" name="exterer" value="2" /><label class = "full" for="star2_4" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" id="star1half_4" name="exterer" value="1.5" /><label class="half" for="star1half_4" title="Meh - 1.5 stars"></label>
                                        <input type="radio" id="star1_4" name="exterer" value="1" /><label class = "full" for="star1_4" title="Sucks big time - 1 star"></label>
                                        <input type="radio" id="starhalf_4" name="exterer" value="0.5" /><label class="half" for="starhalf_4" title="Sucks big time - 0.5 stars"></label>
                                    </fieldset>
                                </div>
                                <div class="auto_profile-rating__count">{{ last_rating.exterer_average }}/5</div>
                            </div>
                        </div>
                        <div class="col-4.5" style="margin-left: 40px">
                            <div class="auto_profile-rating__block">
                                <div class="auto_profile-rating__item" id="electro_star">
                                    <div class="auto_profile-rating__text">Электрооборудование</div>
                                    <fieldset class="rating five" style="margin-left: 50px">
                                        <input type="radio" id="star5_5" name="electro" value="5" /><label class = "full" for="star5_5" title="Awesome - 5 stars"></label>
                                        <input type="radio" id="star4half_5" name="electro" value="4.5" /><label class="half" for="star4half_5" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" id="star4_5" name="electro" value="4" /><label class = "full" for="star4_5" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3half_5" name="electro" value="3.5" /><label class="half" for="star3half_5" title="Meh - 3.5 stars"></label>
                                        <input type="radio" id="star3_5" name="electro" value="3" /><label class = "full" for="star3_5" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2half_5" name="electro" value="2.5" /><label class="half" for="star2half_5" title="Kinda bad - 2.5 stars"></label>
                                        <input type="radio" id="star2_5" name="electro" value="2" /><label class = "full" for="star2_5" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" id="star1half_5" name="electro" value="1.5" /><label class="half" for="star1half_5" title="Meh - 1.5 stars"></label>
                                        <input type="radio" id="star1_5" name="electro" value="1" /><label class = "full" for="star1_5" title="Sucks big time - 1 star"></label>
                                        <input type="radio" id="starhalf_5" name="electro" value="0.5" /><label class="half" for="starhalf_5" title="Sucks big time - 0.5 stars"></label>
                                    </fieldset>
                                </div>
                                <div class="auto_profile-rating__count">{{ last_rating.electro_average }}/5</div>
                            </div>
                            <div class="auto_profile-rating__block">
                                <div class="auto_profile-rating__item" id="hod_star">
                                    <div class="auto_profile-rating__text">Ходовая часть</div>
                                    <fieldset class="rating six">
                                        <input type="radio" id="star5_6" name="hod" value="5" /><label class = "full" for="star5_6" title="Awesome - 5 stars"></label>
                                        <input type="radio" id="star4half_6" name="hod" value="4.5" /><label class="half" for="star4half_6" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" id="star4_6" name="hod" value="4" /><label class = "full" for="star4_6" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3half_6" name="hod" value="3.5" /><label class="half" for="star3half_6" title="Meh - 3.5 stars"></label>
                                        <input type="radio" id="star3_6" name="hod" value="3" /><label class = "full" for="star3_6" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2half_6" name="hod" value="2.5" /><label class="half" for="star2half_6" title="Kinda bad - 2.5 stars"></label>
                                        <input type="radio" id="star2_6" name="hod" value="2" /><label class = "full" for="star2_6" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" id="star1half_6" name="hod" value="1.5" /><label class="half" for="star1half_6" title="Meh - 1.5 stars"></label>
                                        <input type="radio" id="star1_6" name="hod" value="1" /><label class = "full" for="star1_6" title="Sucks big time - 1 star"></label>
                                        <input type="radio" id="starhalf_6" name="hod" value="0.5" /><label class="half" for="starhalf_6" title="Sucks big time - 0.5 stars"></label>
                                    </fieldset>
                                </div>
                                <div class="auto_profile-rating__count">{{ last_rating.hod_average }}/5</div>
                            </div>   
                            <div class="auto_profile-rating__block">
                                <div class="auto_profile-rating__item" id="motor_star">
                                    <div class="auto_profile-rating__text">Двигатель</div>
                                    <fieldset class="rating seven">
                                        <input type="radio" id="star5_7" name="motor" value="5" /><label class = "full" for="star5_7" title="Awesome - 5 stars"></label>
                                        <input type="radio" id="star4half_7" name="motor" value="4.5" /><label class="half" for="star4half_7" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" id="star4_7" name="motor" value="4" /><label class = "full" for="star4_7" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3half_7" name="motor" value="3.5" /><label class="half" for="star3half_7" title="Meh - 3.5 stars"></label>
                                        <input type="radio" id="star3_7" name="motor" value="3" /><label class = "full" for="star3_7" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2half_7" name="motor" value="2.5" /><label class="half" for="star2half_7" title="Kinda bad - 2.5 stars"></label>
                                        <input type="radio" id="star2_7" name="motor" value="2" /><label class = "full" for="star2_7" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" id="star1half_7" name="motor" value="1.5" /><label class="half" for="star1half_7" title="Meh - 1.5 stars"></label>
                                        <input type="radio" id="star1_7" name="motor" value="1" /><label class = "full" for="star1_7" title="Sucks big time - 1 star"></label>
                                        <input type="radio" id="starhalf_7" name="motor" value="0.5" /><label class="half" for="starhalf_7" title="Sucks big time - 0.5 stars"></label>
                                    </fieldset>
                                </div>
                                <div class="auto_profile-rating__count">{{ last_rating.motor_average }}/5</div>
                            </div>
                            <div class="auto_profile-rating__block">
                                <div class="auto_profile-rating__item" id="box_star">
                                    <div class="auto_profile-rating__text">Коробка передач</div>
                                    <fieldset class="rating eight">
                                        <input type="radio" id="star5_8" name="gearbox" value="5" /><label class = "full" for="star5_8" title="Awesome - 5 stars"></label>
                                        <input type="radio" id="star4half_8" name="gearbox" value="4.5" /><label class="half" for="star4half_8" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" id="star4_8" name="gearbox" value="4" /><label class = "full" for="star4_8" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3half_8" name="gearbox" value="3.5" /><label class="half" for="star3half_8" title="Meh - 3.5 stars"></label>
                                        <input type="radio" id="star3_8" name="gearbox" value="3" /><label class = "full" for="star3_8" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2half_8" name="gearbox" value="2.5" /><label class="half" for="star2half_8" title="Kinda bad - 2.5 stars"></label>
                                        <input type="radio" id="star2_8" name="gearbox" value="2" /><label class = "full" for="star2_8" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" id="star1half_8" name="gearbox" value="1.5" /><label class="half" for="star1half_8" title="Meh - 1.5 stars"></label>
                                        <input type="radio" id="star1_8" name="gearbox" value="1" /><label class = "full" for="star1_8" title="Sucks big time - 1 star"></label>
                                        <input type="radio" id="starhalf_8" name="gearbox" value="0.5" /><label class="half" for="starhalf_8" title="Sucks big time - 0.5 stars"></label>
                                    </fieldset>
                                </div>
                                <div class="auto_profile-rating__count">{{ last_rating.gearbox_average }}/5</div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" style="width: 100%; margin-top: 20px;">Проголосовать</button>
                </form>
                <div class="nav nav-tabs" id="myTab" role="tablist" style="margin-right: auto; margin-top: 20px">
                    <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">ОПИСАНИЕ АВТО</a>
                    <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">КОМПЛЕКТАЦИЯ</a>
                    <a class="nav-link" id="third-tab" data-toggle="tab" href="#third" role="tab" aria-controls="third" aria-selected="false">КОММЕНТАРИИ</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                        <div style="color: #2e393f; font-family: Arial; font-size: 14px; font-weight: 400; text-align: justify; margin-top: 15px">
                            {{ note.DopCar }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                        <div class="row">
                            <div class="col-4">
                                <div class="auto_profile-tabs__title">Безопасность</div>
                                <div class="auto_profile-tabs__subtitle">
                                    {{ note.SecurityCar1 }}</br>
                                    {{ note.SecurityCar2 }}</br>
                                    {{ note.SecurityCar3 }}
                                </div>
                                <div class="auto_profile-tabs__title">Защита от угона</div>
                                <div class="auto_profile-tabs__subtitle">
                                    {{ note.ComfortCar1 }}</br>
                                    {{ note.ComfortCar3 }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="auto_profile-tabs__title">Комфорт</div>
                                <div class="auto_profile-tabs__subtitle">
                                    {{ note.ComfortCar2 }}</br>
                                </div>
                                <div class="auto_profile-tabs__title">Мультимедиа</div>
                                <div class="auto_profile-tabs__subtitle">
                                    {{ note.MediaCar }}</br>
                                    {{ note.MediaSystemCar }}</br>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="auto_profile-tabs__title">Салон</div>
                                <div class="auto_profile-tabs__subtitle">
                                    {{ note.MediaAudioSystemCar }}
                                </div>
                                <div class="auto_profile-tabs__title">Обзор</div>
                                <div class="auto_profile-tabs__subtitle">
                                    Электроскладывание зеркал</br>
                                    Автоматический корректор фар
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
                        {% for comment in comments %}
                        <div class="auto_profile-comment">
                            {% load static %}
                            <img src="{% static "img/label.png" %}" style="width: 40px; height: 40px;">
                            <div class="auto_profile-comment__block">
                                <div class="auto_profile-comment__title">{{ comment.Name }}</div>
                                <div class="auto_profile-comment__subtitle">{{ comment.Time }}</div>
                                <div class="auto_profile-comment__text">{{ comment.Comment }}</div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="auto_profile-comment__form">
                            <form method="POST" style="margin-top: 30px">
                                {% csrf_token %}
                                <div class="auto_profile-comment__header">ДОБАВИТЬ КОММЕНТАРИЙ</div>
                                <div class="row" style="margin: auto; justify-content: space-between;">
                                    <input type="text" class="form-control" name='Name' placeholder="Ваше имя" required style="width: 420px; border: 1px solid #707070; background-color: #ffffff; color: #2e393f; font-family: Arial; font-size: 14px; font-weight: 400">
                                    <input type="text" class="form-control" name='Email' placeholder="Ваш e-mail" required style="width: 420px; border: 1px solid #707070; background-color: #ffffff; color: #2e393f; font-family: Arial; font-size: 14px; font-weight: 400">
                                </div>
                                <input type="text" class="form-control" name='Comment' placeholder="Ваш комментарий" required style="width: 100%; height: 114px; border: 1px solid #707070; background-color: #ffffff; color: #2e393f; font-family: Arial; font-size: 14px; font-weight: 400">
                                <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 20px">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3.5">
                <div class="auto_profile-author">
                    {% load static %}
                    <img src="{% static "img/cabinet/author.png" %}" style="border-radius: 30px; width: 60px; height: 60px; background-color: #007bff; margin-left: 15px" alt="glass">
                    <div class="auto_profile-author__block">
                        <div class="auto_profile-author__name">{{ note.YourName }}</div>
                        <div class="auto_profile-author__text">частное лицо</div>
                    </div>
                </div>
                <div class="auto_profile-field">
                    <div class="auto_profile-info">
                        {% load static %}
                        <img src="{% static "img/phone.png" %}">
                        <div class="auto_profile-info__text"><strong>Телефон:</strong>{{ note.YourPhone }}</div>
                    </div>
                    <div class="auto_profile-info">
                        {% load static %}
                        <img src="{% static "img/envelope.png" %}">
                        <div class="auto_profile-info__text"><strong>E-mail:</strong>{{ note.YourMail }}</div>
                    </div>
                    <div class="auto_profile-info">
                        {% load static %}
                        <img src="{% static "img/location.png" %}">
                        <div class="auto_profile-info__text"><strong>Расположение:</strong>{{ note.YourCity }}</div>
                    </div>
                </div>
                <button class="btn btn-primary" style="width: 100%; margin-top: 20px" onclick="window.location.href='mailto: {{ note.YourMail }}'">Написать продавцу</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}