<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Motor</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

    <body>
    {% include "motor/navbar.html" %}

    {% block content %}
    {% endblock %}

    {% if login_form %}
        {% include 'motor/registration/login.html' %}
    {% endif %}
    {% if signup_form %}
        {% include 'motor/registration/register.html' %}
    {% endif %}

    {% include "motor/footer.html" %}
    </body>

</html>
<div class="modal fade right" id="cabinet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style='width: 30px; margin-left:30px; margin-top: 30px'>
                <span aria-hidden="true" class="white-text">×</span>
            </button>
            <div class="modal-content__head">
                <div class="modal-content__head-name">motor</div>
                <div class="modal-content__head-site">vpmr.md</div>
            </div>
            <div class="modal-content__body">
                Добро пожаловать! <br>
                Пожалуйста, авторизуйтесь, для входа в свой аккаунт!</strong>
            </div>
            <form class="form">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
            </form>
            <div class="socials">
                <div class="socials-icons">
                    <div class="socials-icons__item">
                        {% load static %}
                        <img src="{% static "img/modal/vkontakte.png" %}" alt="vkontakte">
                    </div>
                    <div class="socials-icons__item">
                        {% load static %}
                        <img src="{% static "img/modal/facebook.png" %}" alt="facebook">
                    </div>
                    <div class="socials-icons__item">
                        {% load static %}
                        <img src="{% static "img/modal/classmates.png" %}" alt="classmates">
                    </div>
                    <div class="socials-icons__item">
                        {% load static %}
                        <img src="{% static "img/modal/twitter.png" %}" alt="twitter">
                    </div>
                </div>
                <div class="socials-text">Забыли пароль?</div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="top-button" style="width: 195px">ВОЙТИ</button>
                <button type="button" class="top-button" style="width: 195px; background-color: white; color: black">РЕГИСТРАЦИЯ</button>
            </div>
        </div>
    </div>
</div>