<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Motor</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

    <body>
    {% include "motor/navbar.html" %}

    {% block content %}
    {% endblock %}

    {% if login_form %}
        {% include 'motor/registration/login.html' %}
    {% endif %}
    {% if signup_form %}
        {% include 'motor/registration/register.html' %}
    {% endif %}

    {% include "motor/footer.html" %}
    </body>

</html>
<div class="modal fade right" id="cabinet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog modal-full-height modal-right" style="margin-right: 0px" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style='width: 30px; margin-left:30px; margin-top: 30px;'>
                <span aria-hidden="true" class="white-text">×</span>
            </button>
            <div class="modal-content__head">
                <div class="modal-content__head-name">motor</div>
                <div class="modal-content__head-site">vpmr.md</div>
            </div>
            <div class="modal-content__body">
                Добро пожаловать! <br>
                Пожалуйста, авторизуйтесь, для входа в свой аккаунт!</strong>
            </div>
            <button type="submit" class="btn btn-outline-secondary" onclick="window.location.href='login'" style="width: 400px; margin: auto; margin-top: 20px; margin-bottom: 20px">ВОЙТИ</button>
            <div class="modal-content__body" style="margin-top: 20px;">
                Если у вас нет аккаунта, <br>
                Пожалуйста, нажмите на кнопку РЕГИСТРАЦИЯ!</strong>
            </div>
            <button type="submit" class="btn btn-outline-secondary" onclick="window.location.href='register'" style="width: 400px; margin: auto; margin-top: 20px; margin-bottom: 40px">РЕГИСТРАЦИЯ</button>
            <div class="socials" style="margin-top: 65px">
                <div class="socials-icons">
                    <div class="socials-icons__item">
                        {% load static %}
                        <img src="{% static "img/modal/vkontakte.png" %}" alt="vkontakte">
                    </div>
                    <div class="socials-icons__item">
                        {% load static %}
                        <img src="{% static "img/modal/facebook.png" %}" alt="facebook">
                    </div>
                    <div class="socials-icons__item">
                        {% load static %}
                        <img src="{% static "img/modal/classmates.png" %}" alt="classmates">
                    </div>
                    <div class="socials-icons__item">
                        {% load static %}
                        <img src="{% static "img/modal/twitter.png" %}" alt="twitter">
                    </div>
                </div>
                <a class="socials-text">Забыли пароль?</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade right" id="notebook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content" id="notebook">
            <div class="modal-content__header">
                <div class="modal-content__close">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style='width: 30px; margin-left:10px;'>
                        <span aria-hidden="true" class="white-text" style='width: 16px; height: 16px'>×</span>
                    </button>
                    <div class="modal-content__header-notebook">БЛОКНОТ</div>
                </div>
                <div class="nav nav-tabs" id="myTab" role="tablist" style="margin-right: auto">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400">Автомобили</a>
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color: #3e4950; font-family: Arial; font-size: 14px; font-weight: 400">Автосервис и услуги</a>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="tabs-item">
                        <div class="tabs-item__header">
                            <div class="tabs-item__header-name">BMW 5 VI (F10/F11/F07) 520d</div>
                            <div class="tabs-item__header-price">$ 12 900</div>
                        </div>
                        <div class="tabs-item__car">
                            <div class="tabs-item__car-photo">
                                {% load static %}
                                <img src="{% static "img/notebook/1.png" %}" alt="1">
                            </div>
                            <div class="tabs-item__car-description">
                                <div class="tabs-item__car-header">Тирасполь, добавлено : 13.12.2017</div>
                                <div class="tabs-item__car-data">
                                    <div>
                                        <div class="tabs-item__car-text">· 200 000 км</div>
                                        <div class="tabs-item__car-text">· 2007 г.</div>
                                    </div>
                                    <div>
                                        <div class="tabs-item__car-text">· Бензин, 2.8 л</div>
                                        <div class="tabs-item__car-text">· Механика</div>
                                    </div>
                                    <div>
                                        <div class="tabs-item__car-text">· 170 л.с.</div>
                                        <div class="tabs-item__car-text">· Цвет: чёрный</div>
                                    </div>
                                </div>
                                <div class="tabs-item__icons">
                                    <div class="tabs-item__icons-notebook">
                                        {% load static %}
                                        <img src="{% static "img/notebook/bloknot.png" %}" style="width: 13px; height: 15px" alt="notebook">
                                        <div class="tabs-item__icons-text">В блокнот</div>
                                    </div>
                                    <div class="tabs-item__icons-notebook">
                                        {% load static %}
                                        <img src="{% static "img/notebook/compare.png" %}" style="width: 13px; height: 15px" alt="compare">
                                        <div class="tabs-item__icons-text">В сравнение</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-item">
                        <div class="tabs-item__header">
                            <div class="tabs-item__header-name">BMW 7 V (F01/F02/F04) 730d</div>
                            <div class="tabs-item__header-price">$ 14 340</div>
                        </div>
                        <div class="tabs-item__car">
                            <div class="tabs-item__car-photo">
                                {% load static %}
                                <img src="{% static "img/notebook/2.png" %}" alt="1">
                            </div>
                            <div class="tabs-item__car-description">
                                <div class="tabs-item__car-header">Тирасполь, добавлено : 13.12.2017</div>
                                <div class="tabs-item__car-data">
                                    <div>
                                        <div class="tabs-item__car-text">· 200 000 км</div>
                                        <div class="tabs-item__car-text">· 2007 г.</div>
                                    </div>
                                    <div>
                                        <div class="tabs-item__car-text">· Бензин, 2.8 л</div>
                                        <div class="tabs-item__car-text">· Механика</div>
                                    </div>
                                    <div>
                                        <div class="tabs-item__car-text">· 170 л.с.</div>
                                        <div class="tabs-item__car-text">· Цвет: чёрный</div>
                                    </div>
                                </div>
                                <div class="tabs-item__icons">
                                    <div class="tabs-item__icons-notebook">
                                        {% load static %}
                                        <img src="{% static "img/notebook/bloknot.png" %}" style="width: 13px; height: 15px" alt="notebook">
                                        <div class="tabs-item__icons-text">В блокнот</div>
                                    </div>
                                    <div class="tabs-item__icons-notebook">
                                        {% load static %}
                                        <img src="{% static "img/notebook/compare.png" %}" style="width: 13px; height: 15px" alt="compare">
                                        <div class="tabs-item__icons-text">В сравнение</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-item">
                        <div class="tabs-item__header">
                            <div class="tabs-item__header-name">BMW 5  VI (F10/F11/F07) 523i</div>
                            <div class="tabs-item__header-price">$ 22 490</div>
                        </div>
                        <div class="tabs-item__car">
                            <div class="tabs-item__car-photo">
                                {% load static %}
                                <img src="{% static "img/notebook/3.png" %}" alt="1">
                            </div>
                            <div class="tabs-item__car-description">
                                <div class="tabs-item__car-header">Тирасполь, добавлено : 13.12.2017</div>
                                <div class="tabs-item__car-data">
                                    <div>
                                        <div class="tabs-item__car-text">· 200 000 км</div>
                                        <div class="tabs-item__car-text">· 2007 г.</div>
                                    </div>
                                    <div>
                                        <div class="tabs-item__car-text">· Бензин, 2.8 л</div>
                                        <div class="tabs-item__car-text">· Механика</div>
                                    </div>
                                    <div>
                                        <div class="tabs-item__car-text">· 170 л.с.</div>
                                        <div class="tabs-item__car-text">· Цвет: чёрный</div>
                                    </div>
                                </div>
                                <div class="tabs-item__icons">
                                    <div class="tabs-item__icons-notebook">
                                        {% load static %}
                                        <img src="{% static "img/notebook/bloknot.png" %}" style="width: 13px; height: 15px" alt="notebook">
                                        <div class="tabs-item__icons-text">В блокнот</div>
                                    </div>
                                    <div class="tabs-item__icons-notebook">
                                        {% load static %}
                                        <img src="{% static "img/notebook/compare.png" %}" style="width: 13px; height: 15px" alt="compare">
                                        <div class="tabs-item__icons-text">В сравнение</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="tabs-item">
                        <div class="tabs-item__header">
                            <div class="tabs-item__header-name">ДООО СТО Универсал</div>
                        </div>
                        <div class="tabs-item__car">
                            <div class="tabs-item__car-photo">
                                {% load static %}
                                <img src="{% static "img/notebook/5.png" %}" alt="1">
                            </div>
                            <div class="tabs-item__car-description">
                                <div class="tabs-item__car-header">Тирасполь, ул. Энергетиков, 1А, тел.: 533 45 8 55</div>
                                <div class="tabs-item__car-data">
                                    <div class="tabs-item__car-remont">Ремонт ходовой, генераторов, стартеров, замена охлаждающей и тормозной жидкостей.</div>
                                </div>
                                <div class="tabs-item__icons">
                                    <div class="tabs-item__icons-notebook">
                                        {% load static %}
                                        <img src="{% static "img/notebook/star.png" %}" style="width: 80px; height: 15px" alt="notebook">
                                        <div class="tabs-item__icons-text">9 отзывов</div>
                                    </div>
                                    <div class="tabs-item__icons-notebook">
                                        {% load static %}
                                        <img src="{% static "img/notebook/compare.png" %}" style="width: 13px; height: 15px" alt="compare">
                                        <div class="tabs-item__icons-text">В сравнение</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-item">
                        <div class="tabs-item__header">
                            <div class="tabs-item__header-name">Кентавр Авто</div>
                        </div>
                        <div class="tabs-item__car">
                            <div class="tabs-item__car-photo">
                                {% load static %}
                                <img src="{% static "img/notebook/6.png" %}" alt="1">
                            </div>
                            <div class="tabs-item__car-description">
                                <div class="tabs-item__car-header">Тирасполь, ул. Энергетиков, 1А, тел.: 533 45 8 55</div>
                                <div class="tabs-item__car-data">
                                    <div class="tabs-item__car-remont">Ремонт ходовой, генераторов, стартеров, замена охлаждающей и тормозной жидкостей.</div>
                                </div>
                                <div class="tabs-item__icons">
                                    <div class="tabs-item__icons-notebook">
                                        {% load static %}
                                        <img src="{% static "img/notebook/star.png" %}" style="width: 80px; height: 15px" alt="notebook">
                                        <div class="tabs-item__icons-text">В блокнот</div>
                                    </div>
                                    <div class="tabs-item__icons-notebook">
                                        {% load static %}
                                        <img src="{% static "img/notebook/compare.png" %}" style="width: 13px; height: 15px" alt="compare">
                                        <div class="tabs-item__icons-text">В сравнение</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-item">
                        <div class="tabs-item__header">
                            <div class="tabs-item__header-name">Автосервис, ЗАО Метан - Авто</div>
                        </div>
                        <div class="tabs-item__car">
                            <div class="tabs-item__car-photo">
                                {% load static %}
                                <img src="{% static "img/notebook/7.png" %}" alt="1">
                            </div>
                            <div class="tabs-item__car-description">
                                <div class="tabs-item__car-header">Тирасполь, ул. Энергетиков, 1А, тел.: 533 45 8 55</div>
                                <div class="tabs-item__car-data">
                                    <div class="tabs-item__car-remont">Ремонт ходовой, генераторов, стартеров, замена охлаждающей и тормозной жидкостей.</div>
                                </div>
                                <div class="tabs-item__icons">
                                    <div class="tabs-item__icons-notebook">
                                        {% load static %}
                                        <img src="{% static "img/notebook/star.png" %}" style="width: 80px; height: 15px" alt="notebook">
                                        <div class="tabs-item__icons-text">В блокнот</div>
                                    </div>
                                    <div class="tabs-item__icons-notebook">
                                        {% load static %}
                                        <img src="{% static "img/notebook/compare.png" %}" style="width: 13px; height: 15px" alt="compare">
                                        <div class="tabs-item__icons-text">В сравнение</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="auto_up" tabindex="-1" role="dialog" style="top: 135px; left: 0">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height: auto">
            <div class="modal-header" style="border-bottom: none">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding-bottom: 0px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h5 class="auto_up-title">Настройка автоподнятия</h5>
            <div class="auto_up-subtitle">Дни недели:</div>
            <div class="weekDays-selector">
                <input type="checkbox" id="weekday-mon" class="weekday" />
                    <label for="weekday-mon">Пн</label>
                <input type="checkbox" id="weekday-tue" class="weekday" />
                    <label for="weekday-tue">Вт</label>
                <input type="checkbox" id="weekday-wed" class="weekday" />
                    <label for="weekday-wed">Ср</label>
                <input type="checkbox" id="weekday-thu" class="weekday" />
                    <label for="weekday-thu">Чт</label>
                <input type="checkbox" id="weekday-fri" class="weekday" />
                    <label for="weekday-fri">Пт</label>
                <input type="checkbox" id="weekday-sat" class="weekday" />
                    <label for="weekday-sat">Сб</label>
                <input type="checkbox" id="weekday-sun" class="weekday" />
                    <label for="weekday-sun">Вс</label>
            </div>
            <div class="auto_up-start">Старт поднятия объявления:</div>
            <div class="period">
                <div class="period-countries">
                    <select id="selectcountries"></select>
                </div>
                <div class="period-text">периодичность:</div>
                <div class="period-continents">
                    <select id="continents">
                        <option value = 0>Все</option>
                        <option value = 1>0.5ч</option>
                        <option value = 2>Час</option>
                        <option value = 3>День</option>
                    </select> 
                </div>
            </div>
            <div class="auto_up-price">Стоимость поднятий: 25 руб./нед.</div>
            <div class="auto_up-buttons">
                <button type="submit" class="auto_up-buttons__submit">Применить</button>
                <button type="submit" class="auto_up-buttons__up">Разовое поднятие</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="add_advertise" tabindex="-1" role="dialog" style="top: 135px; left: 0">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height: auto">
            <div class="modal-header" style="border-bottom: none">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding-bottom: 0px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-content__body">
                Войдите в аккаунт для добавления объявления!</strong>
            </div>
            <button type="submit" class="btn btn-outline-secondary" onclick="window.location.href='login'" style="width: 400px; margin: auto; margin-top: 20px; margin-bottom: 20px">ВОЙТИ</button>
            <div class="modal-content__body" style="margin-top: 10px;">
                Если у вас нет аккаунта, <br>
                пожалуйста, нажмите на кнопку <strong>РЕГИСТРАЦИЯ!</strong></strong>
            </div>
            <button type="submit" class="btn btn-outline-secondary" onclick="window.location.href='register'" style="width: 400px; margin: auto; margin-top: 20px; margin-bottom: 40px">РЕГИСТРАЦИЯ</button>
        </div>
    </div>
</div>
<script>
function initSelectors(){
 MAIN.createRelatedSelector(); 
 MAIN.createRelatedSelector(document.querySelector('#continents') );
 
 //countries
 MAIN.createRelatedSelector
     ( document.querySelector('#continents')
      ,document.querySelector('#selectcountries')
      ,{
        Полчаса: ['в 00:00','в 00:30','в 01:00','в 01:30','в 02:00','в 02:30','в 03:00','в 03:30','в 04:00','в 04:30','в 05:00','в 05:30','в 06:00','в 06:30','в 07:00','в 07:30','в 08:00','в 08:30','в 09:00','в 09:30','в 10:00','в 10:30','в 11:00','в 11:30','в 12:00','в 12:30','в 13:00','в 13:30','в 14:00','в 14:30','в 15:00','в 15:30','в 16:00','в 16:30','в 17:00','в 17:30','в 18:00','в 18:30','в 19:00','в 19:30','в 20:00','в 20:30','в 21:00','в 21:30','в 22:00','в 22:30','в 23:00','в 23:30'],
        Час: ['в 00:00','в 01:00','в 02:00','в 03:00','в 04:00','в 05:00','в 06:00','в 07:00','в 08:00','в 09:00','в 10:00','в 11:00','в 12:00','в 13:00','в 14:00','в 15:00','в 16:00','в 17:00','в 18:00','в 19:00','в 20:00','в 21:00','в 22:00','в 23:00'],
        День: ['в 00:00','в 01:00','в 02:00','в 03:00','в 04:00','в 05:00','в 06:00','в 07:00','в 08:00','в 09:00','в 10:00','в 11:00','в 12:00','в 13:00','в 14:00','в 15:00','в 16:00','в 17:00','в 18:00','в 19:00','в 20:00','в 21:00','в 22:00','в 23:00']
      }
      ,function(a,b){return a>b ? 1 : a<b ? -1 : 0;}   // sort method
 );
}

//create MAIN namespace
(function(ns){ // don't pollute the global namespace
    
 function create(from, to, obj, srt){
  if (!from) {
         throw CreationError('create: parameter selector [from] missing');
  }
  if (!to) {
         throw CreationError('create: parameter related selector [to] missing');
  }
  if (!obj) {
         throw CreationError('create: related filter definition object [obj] missing');
  }
  
  //retrieve all options from obj and add it
  obj.all = (function(o){
     var a = [];
     for (var l in o) {
       a = /array/i.test (o[l].constructor) ? a.concat(o[l]) : a;
     }
     return a.sort(srt);
  }(obj));
 // initialize and populate to-selector with all
  populator.call( from
                  ,null
                  ,to
                  ,obj
                  ,srt
  );
    
  // assign handler    
  from.onchange = populator;

  function initStatics(fn,obj){
   for (var l in obj) {
       if (obj.hasOwnProperty(l)){
           fn[l] = obj[l];
       }
   }
   fn.initialized = true;
  }
     
 function populator(e, relatedto, obj, srt){
    // set pseudo statics
    var self = populator;
    if (!self.initialized) {
        initStatics(self,{optselects:obj,optselectsall:obj.all,relatedTo:relatedto,sorter:srt || false});
    }
     
    if (!self.relatedTo){
        throw 'not related to a selector';
    }
    // populate to-selector from filter/all
    var optsfilter = this.selectedIndex < 1
                   ? self.optselectsall 
                   : self.optselects[this.options[this.selectedIndex].firstChild.nodeValue]
       ,cselect = self.relatedTo
       ,opts = cselect.options;
    if (self.sorter) optsfilter.sort(self.sorter);
    opts.length = 0;
    for (var i=0;i<optsfilter.length;i+=1){
        opts[i] = new Option(optsfilter[i],i);
    }
  }
 }
    
 // custom Error
 function CreationError(mssg){
     return {name:'CreationError',message:mssg};
 }

 // return the create method with some error handling   
 window[ns] = { 
     createRelatedSelector: function(from,to,obj,srt) {
          try { 
              if (arguments.length<1) {
                 throw CreationError('no parameters');
              } 
              create.call(null,from,to,obj,srt); 
          } 
          catch(e) { console.log('createRelatedSelector ->',e.name,'\n'
                                   + e.message +
                                   '\ncheck parameters'); }
        }
 };    
}('MAIN'));
//initialize
initSelectors();
</script>