{% extends "motor/base.html" %}

{% block title %} <title>Motor</title> {% endblock %}

{% block content %}
    <div class="py-5 text-center">
        <h2>Добро пожаловать в личный кабинет</h2>
    </div>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right border col-md-2 order-md-1" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="user_page" class="list-group-item list-group-item-action bg-light">Личный кабинет</a>
                <a href="change_password" class="list-group-item list-group-item-action bg-light">Сменить пароль</a>
                <a href="logout" class="list-group-item list-group-item-action bg-light">Выйти из аккаунта</a>
            </div>
        </div>

        <div class="col-md-8 order-md-1">
            <form class="needs-validation" novalidate method="POST" action="{% url 'change_password' %}">
                {% csrf_token %}
                <div class="row" style="margin: auto; display: flex; justify-content: space-between;">
                    <div class="mb-2">
                        <label for="password">Старый пароль</label>
                        <input type="password" class="form-control" style="margin-top: 0;" name="password" id="password"
                               placeholder="Старый пароль" value="" required>
                    </div>
    
                    <div class="mb-2">
                        <label for="new_password">Новый пароль</label>
                        <input type="password" class="form-control" style="margin-top: 0;" name="new_password" id="new_password"
                               placeholder="Новый пароль" value="" required>
                    </div>
    
                    <div class="mb-2">
                        <label for="new_password2">Повторите новый пароль</label>
                        <input type="password" class="form-control" style="margin-top: 0;" name="new_password2" id="new_password2"
                               placeholder="Новый пароль 2" value="" required>
                    </div>
                </div>
                <button class="btn btn-outline-secondary" type="submit" style="width: 100%; margin-top: 25px">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}