{% extends "motor/base.html" %}

{% block title %} <title>Motor</title> {% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="my_cabinet-header">Главная | Личный кабинет</div>
        <div class="row">
            <div class="col-3">
                <div style="font-weight: 700; margin-bottom: 20px;">Показать:</div>
                <input type="radio" name="name_check" value="value" class='choose' style="margin-bottom: 10px;"><span style="padding-left: 20px;">Все параметры</span><br>
                <input type="radio" name="name_check" value="value" class='choose'><span style="padding-left: 20px;">Только отличия</span>
            </div>
            <div class="my_cabinet-items" role="listbox" style="width: 70%; margin-bottom: 20px;">
                {% for advertise in list_comparison %}
                <div class="my_cabinet-items-item" style="margin-left: 18px">
                    <img src="/media/{{ advertise.ImageCar }}" alt="picture" style="width: 265px; height: 175px">
                    <div class="my_cabinet-items_item-title">{{ advertise.NameCar }} {{ advertise.SeriaCar }} {{ advertise.KuzovCar }}</div>
                    <div class="my_cabinet-items_item-price">$ {{ advertise.PriceCar }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="comparison">
            <div class="comparison-block" id="container">
                <div class="comparison-block__title">ОСНОВНЫЕ ХАРАКТЕРИСТИКИ</div>
                <a><div id="icon" class="fa fa-chevron-down rotate"></div></a>
            </div>
            <div class="comparison-data">
                <div class="comparison-data__title">
                    <div class="comparison-data__title-item">Год выпуска</div>
                    <div class="comparison-data__title-item">Пробег</div>
                    <div class="comparison-data__title-item">Кузов</div>
                    <div class="comparison-data__title-item">Цвет</div>
                    <div class="comparison-data__title-item">Двигатель</div>
                    <div class="comparison-data__title-item">Коробка</div>
                    <div class="comparison-data__title-item">Привод</div>
                    <div class="comparison-data__title-item">Руль</div>
                    <div class="comparison-data__title-item">Состояние</div>
                    <div class="comparison-data__title-item">Владельцы</div>
                    <div class="comparison-data__title-item">ПТС</div>
                    <div class="comparison-data__title-item">Владение</div>
                    <div class="comparison-data__title-item">Таможня</div>
                    <div class="comparison-data__title-item">Обмен</div>
                </div>
                <div class="comparison-data__text1">
                    <div class="comparison-data__text-item">1986</div>
                    <div class="comparison-data__text-item">100 000 км</div>
                    <div class="comparison-data__text-item">Седан</div>
                    <div class="comparison-data__text-item">Чёрный</div>
                    <div class="comparison-data__text-item">1.8 л/90 л.с./бензин</div>
                    <div class="comparison-data__text-item">Механическая</div>
                    <div class="comparison-data__text-item">Задний</div>
                    <div class="comparison-data__text-item">Левый</div>
                    <div class="comparison-data__text-item">Не требует ремонта</div>
                    <div class="comparison-data__text-item">2 владельца</div>
                    <div class="comparison-data__text-item">Оригинал</div>
                    <div class="comparison-data__text-item">2 года</div>
                    <div class="comparison-data__text-item">Растаможен</div>
                    <div class="comparison-data__text-item">Рассмотрю варианты</div>
                </div>
                <div class="comparison-data__text2">
                    <div class="comparison-data__text-item">1986</div>
                    <div class="comparison-data__text-item">100 000 км</div>
                    <div class="comparison-data__text-item">Седан</div>
                    <div class="comparison-data__text-item">Чёрный</div>
                    <div class="comparison-data__text-item">1.8 л/90 л.с./бензин</div>
                    <div class="comparison-data__text-item">Механическая</div>
                    <div class="comparison-data__text-item">Задний</div>
                    <div class="comparison-data__text-item">Левый</div>
                    <div class="comparison-data__text-item">Не требует ремонта</div>
                    <div class="comparison-data__text-item">2 владельца</div>
                    <div class="comparison-data__text-item">Оригинал</div>
                    <div class="comparison-data__text-item">2 года</div>
                    <div class="comparison-data__text-item">Растаможен</div>
                    <div class="comparison-data__text-item">Рассмотрю варианты</div>
                </div>
                <div class="comparison-data__text3">
                    <div class="comparison-data__text-item">1986</div>
                    <div class="comparison-data__text-item">100 000 км</div>
                    <div class="comparison-data__text-item">Седан</div>
                    <div class="comparison-data__text-item">Чёрный</div>
                    <div class="comparison-data__text-item">1.8 л/90 л.с./бензин</div>
                    <div class="comparison-data__text-item">Механическая</div>
                    <div class="comparison-data__text-item">Задний</div>
                    <div class="comparison-data__text-item">Левый</div>
                    <div class="comparison-data__text-item">Не требует ремонта</div>
                    <div class="comparison-data__text-item">2 владельца</div>
                    <div class="comparison-data__text-item">Оригинал</div>
                    <div class="comparison-data__text-item">2 года</div>
                    <div class="comparison-data__text-item">Растаможен</div>
                    <div class="comparison-data__text-item">Рассмотрю варианты</div>
                </div>
            </div>
        </div>
        <div class="comparison">
            <div class="comparison-block" id="container1">
                <div class="comparison-block__title">МУЛЬТИМЕДИЯ И ЭЛЕКТРОНИКА</div>
                <a><div id="icon1" class="fa fa-chevron-down rotate"></div></a>
            </div>
            <div class="comparison-data">
                <div class="comparison-data__title">
                    <div class="comparison-data__title-item">Аудиосистема</div>
                    <div class="comparison-data__title-item">Опции</div>
                    <div class="comparison-data__title-item">Штатная система</div>
                </div>
                <div class="comparison-data__text1">
                    <div class="comparison-data__text-item">Bluetooth</div>
                    <div class="comparison-data__text-item">Голосовое управление</div>
                    <div class="comparison-data__text-item">Штатная аудиосистема с TV</div>
                </div>
                <div class="comparison-data__text2">
                    <div class="comparison-data__text-item">Bluetooth</div>
                    <div class="comparison-data__text-item">Голосовое управление</div>
                    <div class="comparison-data__text-item">Штатная аудиосистема с TV</div>
                </div>
                <div class="comparison-data__text3">
                    <div class="comparison-data__text-item">Bluetooth</div>
                    <div class="comparison-data__text-item">Голосовое управление</div>
                    <div class="comparison-data__text-item">Штатная аудиосистема с TV</div>
                </div>
            </div>
        </div>
        <div class="comparison">
            <div class="comparison-block" id="container2">
                <div class="comparison-block__title">КОМФОРТ</div>
                <a><div id="icon2" class="fa fa-chevron-down rotate"></div></a>
            </div>
            <div class="comparison-data">
                <div class="comparison-data__title">
                    <div class="comparison-data__title-item">Опция №1</div>
                    <div class="comparison-data__title-item">Опция №2</div>
                    <div class="comparison-data__title-item">Опция №3</div>
                </div>
                <div class="comparison-data__text1">
                    <div class="comparison-data__text-item">Бортовой компьютер</div>
                    <div class="comparison-data__text-item">Обогрев сидений</div>
                    <div class="comparison-data__text-item">Усилитель руля</div>
                </div>
                <div class="comparison-data__text2">
                    <div class="comparison-data__text-item">Бортовой компьютер</div>
                    <div class="comparison-data__text-item">Обогрев сидений</div>
                    <div class="comparison-data__text-item">Усилитель руля</div>
                </div>
                <div class="comparison-data__text3">
                    <div class="comparison-data__text-item">Бортовой компьютер</div>
                    <div class="comparison-data__text-item">Обогрев сидений</div>
                    <div class="comparison-data__text-item">Усилитель руля</div>
                </div>
            </div>
        </div>
        <div class="comparison">
            <div class="comparison-block" id="container3">
                <div class="comparison-block__title">БЕЗОПАСНОСТЬ</div>
                <a><div id="icon3" class="fa fa-chevron-down rotate"></div></a>
            </div>
            <div class="comparison-data">
                <div class="comparison-data__title">
                    <div class="comparison-data__title-item">Опции</div>
                    <div class="comparison-data__title-item">Подушки безопасности</div>
                    <div class="comparison-data__title-item">Система контроля</div>
                </div>
                <div class="comparison-data__text1">
                    <div class="comparison-data__title-item">ABS</div>
                    <div class="comparison-data__title-item">Подушки безопасности боковые</div>
                    <div class="comparison-data__title-item">Система ночного видения</div>
                </div>
                <div class="comparison-data__text2">
                    <div class="comparison-data__title-item">ABS</div>
                    <div class="comparison-data__title-item">Подушки безопасности боковые</div>
                    <div class="comparison-data__title-item">Система ночного видения</div>
                </div>
                <div class="comparison-data__text3">
                    <div class="comparison-data__title-item">ABS</div>
                    <div class="comparison-data__title-item">Подушки безопасности боковые</div>
                    <div class="comparison-data__title-item">Система ночного видения</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script>
(function(document){
    var div = document.getElementById('container');
    var icon = document.getElementById('icon');
    var open = false;
    
    div.addEventListener('click', function(){
    if(open){
        icon.className = 'fa fa-chevron-down';  
    } else{
        icon.className = 'fa fa-chevron-down open';
    }
    
    open = !open;
    });
})(document);

(function(document){
    var div1 = document.getElementById('container1');
    var icon1 = document.getElementById('icon1');
    var open = false;
    
    div1.addEventListener('click', function(){
    if(open){
        icon1.className = 'fa fa-chevron-down';  
    } else{
        icon1.className = 'fa fa-chevron-down open';
    }
    
    open = !open;
    });
})(document);

(function(document){
    var div2 = document.getElementById('container2');
    var icon2 = document.getElementById('icon2');
    var open = false;
    
    div2.addEventListener('click', function(){
    if(open){
        icon2.className = 'fa fa-chevron-down';  
    } else{
        icon2.className = 'fa fa-chevron-down open';
    }
    
    open = !open;
    });
})(document);

(function(document){
    var div3 = document.getElementById('container3');
    var icon3 = document.getElementById('icon3');
    var open = false;
    
    div3.addEventListener('click', function(){
    if(open){
        icon3.className = 'fa fa-chevron-down';  
    } else{
        icon3.className = 'fa fa-chevron-down open';
    }
    
    open = !open;
    });
})(document);
</script>
<script>
$(function() {

    $('.comparison-block').click(function(e) {
        e.stopPropagation();
        $(this).next().toggle();
    });
    
});
</script>
{% endblock %}