<nav class="mb-1 navbar navbar-expand-lg navbar-light">
    <div class="container">
        <ul class="navbar-brand">
            <div class="navbar-brand__name">motor</div>
            <div class="navbar-brand__site">vpmr.md</div>
        </ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav col-sm-8">
                <li class="nav-item active">
                    <a class="nav-link text-uppercase" href="#">Главная
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-uppercase" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Всё для авто</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="#">Сервис</a>
                        <a class="dropdown-item" href="#">Автомойка</a>
                        <a class="dropdown-item" href="#">Автозапчасти</a>
                        <a class="dropdown-item" href="#">Шины</a>
                        <a class="dropdown-item" href="#">Аксессуары</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-uppercase" id="dropdown07" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">База знаний</a>
                    <div class="dropdown-menu dropdown-default" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="#">Экзамен ГАИ</a>
                        <a class="dropdown-item" href="#">Правила ПДД</a>
                        <a class="dropdown-item" href="#">Проверить штрафы</a>
                        <a class="dropdown-item" href="#">Документы</a>
                    </div>
                </li>
                <a class="nav-link text-uppercase">Новости</a>
                <li class="nav-item dropdown">
                    <a class="nav-link text-uppercase" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">О нас</a>
                    <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="#">О проекте</a>
                        <a class="dropdown-item" href="#">Помощь по сайту (FAQ)</a>
                        <a class="dropdown-item" href="#">Разместить рекламу</a>
                        <a class="dropdown-item" href="#">Сотрудничество с нами</a>
                        <a class="dropdown-item" href="#">Обратная связь</a>
                    </div>
                </li>
            </ul>
            
            <ul class="navbar-nav nav-flex-icons col-sm-5">
                <li class="nav-item col-sm-2" style="padding-top: 8px">
                    {% load static %}
                    <img src="{% static "img/main/man.png" %}" alt="man">
                </li>
                <li class="nav-item col-sm-2" style="padding-top: 8px">
                    {% load static %}
                    <img src="{% static "img/main/flag.png" %}" alt="flag">
                </li>
                <li class="nav-item col-sm-2" style="padding-top: 8px">
                    {% load static %}
                    <img src="{% static "img/main/arrows.png" %}" alt="arrows">
                </li>
                <li class="nav-item col-sm-2" data-toggle="modal" data-target="#cabinet">
                    {% load static %}
                    <img src="{% static "img/main/plus.png" %}" alt="plus">
                </li>
                <div class="modal fade right" id="cabinet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="heading lead">Feedback request</p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="text-center">
                                    <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>
                                    <p>
                                        <strong>Your opinion matters</strong>
                                    </p>
                                    <p>Have some ideas how to improve our product?
                                        <strong>Give us your feedback.</strong>
                                    </p>
                                </div>
                                <hr>
                                <p class="text-center">
                                    <strong>Your rating</strong>
                                </p>
                                <div class="form-check mb-4">
                                    <input class="form-check-input" name="group1" type="radio" id="radio-179" value="option1" checked>
                                    <label class="form-check-label" for="radio-179">Very good</label>
                                </div>
                                <div class="form-check mb-4">
                                    <input class="form-check-input" name="group1" type="radio" id="radio-279" value="option2">
                                    <label class="form-check-label" for="radio-279">Good</label>
                                </div>
                                <div class="form-check mb-4">
                                    <input class="form-check-input" name="group1" type="radio" id="radio-379" value="option3">
                                    <label class="form-check-label" for="radio-379">Mediocre</label>
                                </div>
                                <div class="form-check mb-4">
                                    <input class="form-check-input" name="group1" type="radio" id="radio-479" value="option4">
                                    <label class="form-check-label" for="radio-479">Bad</label>
                                </div>
                                <div class="form-check mb-4">
                                    <input class="form-check-input" name="group1" type="radio" id="radio-579" value="option5">
                                    <label class="form-check-label" for="radio-579">Very bad</label>
                                </div>
                                <p class="text-center">
                                    <strong>What could we improve?</strong>
                                </p>
                                <div class="md-form">
                                    <textarea type="text" id="form79textarea" class="md-textarea form-control" rows="3"></textarea>
                                    <label for="form79textarea">Your message</label>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <a type="button" class="btn btn-primary waves-effect waves-light">Send
                                    <i class="fa fa-paper-plane ml-1"></i>
                                </a>
                                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>