<div id="register-form" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h1 class="h3 mb-3 font-weight-normal">motor</h1>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Login">Имя пользователя</label>
                        <input type="login" class="form-control" id="Login" aria-describedby="loginHelp"
                               placeholder="Enter login">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ваш Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="Password">Пароль</label>
                        <input type="password" class="form-control" id="Password" placeholder="Password">
                    </div>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me">Я владелец компании</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>