<div id="register-form" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h1 class="h3 mb-3 font-weight-normal">motor</h1>
            <div class="modal-body">
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <input type="text" class="form-control is-invalid" id="id_username" name="username" placeholder="Ваше имя" required>
                        <div class="invalid-feedback">
                            <p>{{ signup_form.form.errors.username }}</p>
                        </div>
                        <input type="email" class="form-control is-invalid" id="id_email" name="email" placeholder="Ваш E-mail" required>
                        <div class="invalid-feedback">
                            <p>{{ signup_form.form.errors.email }}</p>
                        </div>
                        <input type="password" class="form-control is-invalid" name="password" id="Password"
                               placeholder="Пароль">
                    </div>
{#                    <div class="checkbox mb-3">#}
{#                        <label>#}
{#                            <input type="checkbox" value="remember-me">Я владелец компании</label>#}
{#                    </div>#}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-secondary">Зарегистрироваться</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>